POSTGRES_PRISMA_URL="postgres://postgres:secret@localhost:5432/ipritcoredb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://postgres:secret@localhost:5432/ipritcoredb"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=yourownsecretboi