POSTGRES_PRISMA_URL="postgres://postgres:secret@localhost:5432/expensetrackerdb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://postgres:secret@localhost:5432/expensetrackerdb"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="bchtmNtRiCygeMO65+eUCOmKoUzsKNnNY9zDGUgFAus="